*{
	margin: 0;
	padding: 0;
	font-family: "Comic Sans MS";
}
body{
	background-color : #ecf0f1;
}
.container{
	height: 100%;
	width: 100%;
	min-height: 400px;
	margin: 0;
	padding: 0;
	text-align: center;
}
div#login{
	width: 350px;
	display: inline-block;
	background-color: white;
	margin-top: 50px;
	border-radius: 5px;
}
.login-header{
	height: 35px;
	background-color: #2980b9;
	border-radius: 5px 5px 0 0;
	text-align: center;
	line-height: 35px;
	color: white;
}
.login-body{
	padding: 15px;
}
.userbody{
	padding: 15px;
}
.login-buttons{
	height: 50px;
	padding-bottom: 25px;
}
.row{
	display: block;
}
input{
	height: 30px;
	width: 100%;
	margin-top: 10px;
	border: 1px solid #3498db;
	border-radius: 3px;
	text-align: center;
}
.tooltiptext{
	visibility: hidden;
	font-size: 12px;
}
input:focus + .tooltiptext{
	visibility: visible;
}
textarea{
	resize: none;
	margin: 0 auto;
	margin-top: 30px;
	border: 1px solid #3498db;
	border-radius: 3px;
}
::-webkit-input-placeholder {
   text-align: center;
}
.btn-sm{
	display: inline-block;
	width: 100px;
	margin-top: 15px;
	height: 30px;
	background-color: #2980b9;
	line-height: 30px;
	border-radius: 3px;
	padding: 0px 10px;
	color: #fff;
}
a{
	text-decoration: none;
	color: #fff;
}
.btn-sm:hover{
	background-color: #3498db;
}

@media only screen and (min-width: 450px){
	div#login{
		width: 450px;
		height: 300px;
	}
	.userbody input{
		display: inline;
		width: 45%;
		margin-left: 10px;
	}
	.login-buttons{
		margin-top: 10px;
	}
	input{
		margin-top: 25px;
	}
	.tooltiptext {
	    visibility: hidden;
	    width: 120px;
	    background-color: black;
	    color: #fff;
	    text-align: center;
	    border-radius: 6px;
	    padding: 5px 0;

	    /* Position the tooltip */
	    position: absolute;
	    z-index: 1;
	}
	input:focus + .tooltiptext{
		visibility: visible;
		display: inline;
	}

}


//CSS for Dashboard

ul li{
	list-style-type: none;
}
li{
	display: inline;
}
nav{
	height: 50px;
	background-color: #3498db;
	line-height: 50px;
}
li a{
	padding: 7px;
}
nav ul li:nth-child(4){
	float: right;
}
li a:hover {
	color: #ccc;
}
.table-wrapper{
}
table{
	table-layout: fixed;
	margin: 0 auto;
	width: 900px;
	overflow-x: scroll;
}
table, td, tr{
	border: 1px solid #ccc;
	border-collapse: collapse;
}
th{
	background-color: #3498db;
}
td, th{
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	padding: 5px;
	font-size: 14px;
	text-overflow: ellipsis;
	word-wrap: break-word;
}
tr{
	background-color: #f2f2f2;
}
tr:nth-child(even){
	background-color: #fff;
}
h2{
	padding: 20px;
}
@media only screen and (max-width: 500px){
	table, td, tr, th{
		display: block;
		border: none;
		text-align: justify;
	}
	table{
		width: auto;
	}
	td{
		overflow: hidden;
	}
	td:before{
		font-weight: bold;
	}
	td:nth-of-type(1):before { content: "Sl No:         "; }
	td:nth-of-type(2):before { content: "First Name:    "; }
	td:nth-of-type(3):before { content: "Last Name:     "; }
	td:nth-of-type(4):before { content: "Email:         "; }
	td:nth-of-type(5):before { content: "Organization:  "; }
	tr:first-child{
	position: absolute;
	top: -9999px;
	left: -9999px;
	}
}
